html {
	background-color: black;
}

#app {
	position: relative;
	height: 100%;
	width: 100%;
	/*background-image: url('insideabox.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: black;
}

#main {
	position: relative;
	margin: 10px auto;
	height: 950px;
	width: 1000px;
	padding-top: 40px;
}

.box {
	border: solid 1px black;
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

.row {
	display: inline;
}

#one {
	background-color: white;
}

#two {
	background-color: white;
}

#three {
	background-color: white;
}

#four {
	background-color: white;
}

#five {
	background-color: white;
}

#six {
	background-color: white;
}

#seven {
	background-color: white;
}

#eight {
	background-color: white;
}