#app {
	position: relative;
	height: 100%;
	width: 100%;
	/*background-image: url('insideabox.jpg');*/
	background-repeat: no-repeat;
	background-position: center;

}

#main {
	position: relative;
	margin: 10px auto;
	height: 1000px;
	width: 1000px;
	padding-top: 240px;
}

.box {
	border: solid 1px black;
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

.row {
	display: inline;
}

#one {
	background-color: red;
}

#two {
	background-color: black;
}

#three {
	background-color: blue;
}

#four {
	background-color: yellow;
}

#five {
	background-color: green;
}

#six {
	background-color: pink;
}

#seven {
	background-color: brown;
}

#eight {
	background-color: purple;
}